@media (max-width:1000px) {
    .header-btn{
        margin-left: 10px;
    }
    .checks{
        flex-direction: column;
    }
}
@media(max-width:828px){
    .footer-button{
        margin-bottom: 20px;
    }
}
@media (max-width:777px) {
    .w-layout-grid{
        display:block;
    }
    .header-btn{
        display: none;
    }
    .block{
        display: none;
    }
    .grid{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }
    .nav ul{
        justify-content: center;
    }
}
@media (max-width:600px) {
    .discount button{
        height: 34px;
    }
    .container{
        max-width: none;
    }
    .nav ul{
        flex-wrap: wrap;
    }
}
@media (max-width:430px) {
    .container{
        padding: 0 15px;
    }
    .main-title{
        font-size: 34px;
        max-width: 200px;
    }
    .main-content-holder p{
        max-width: 200px;
    }
    .frustrated-title,
    .frustrated-right h3 {
        font-size: 49px;
    }
    .checks{
        margin-bottom: 50px;
    }
    .fix-that-title{
        margin-bottom: 49px;
    }
    .customize-experience-header p{
        display: none;
    }
    .customize-experience{
        padding-left: 10px;
    }
}