@media (max-width:915px) {
    .header-btn{
        margin-left: 10px;
    }
}

@media (max-width:777px) {
    .header-btn{
        margin-left: 0px;
    }
    .block{
        display: none;
    }
    .grid{
       display: flex;
       flex-wrap: wrap;
    }
}
@media (max-width:600px) {
    .discount button{
        height: 34px;
    }
    .container{
        max-width: none;
    }
    .nav ul{
        flex-wrap: wrap;
    }
}
@media (max-width:430px) {
    .frustrated .container{
        padding: 0 15px;
    }
    .discount button{
        height: 68px;
    }
    .customize-experience{
        padding-left: 10px;
    }
}